html {
  font-size: calc(1vw * 100 / 1480);
}

body {
  font-size: 16rem;
}

.pc {
  display: none;
}

.sp {
  display: none;
}

header,
.inner {
  width: 960rem;
  margin: 0 auto;
}

section {
  padding: 80rem 0;
}

h2 {
  text-align: center;
  font-size: 36rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 50rem;
}

h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -35rem;
  display: inline-block;
  width: 60rem;
  height: 3rem;
  transform: translateX(-50%);
  background-color: #333333;
}

h3 {
  font-size: 24rem;
  font-weight: bold;
}

p {
  line-height: 1.8;
}

p.desc {
  text-align: center;
  padding: 35rem 0;
}

header {
  left: 250rem;
  color: #fff;
  position: absolute;
  top: 0;
  width: 960rem;
  height: 65rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a.header_logo {
  font-size: 36rem;
}

header .nav_toggle {
  transition: all 0.3s;
  position: relative;
  width: 40rem;
  height: 25rem;
}

header .nav_toggle span {
  transition: all 0.3s;
  background: #fff;
  display: block;
  width: 100%;
  height: 2rem;
  position: absolute;
}

header .nav_toggle span:first-child {
  top: 0;
}

header .nav_toggle span:nth-child(2) {
  top: 50%;
}

header .nav_toggle span:nth-child(3) {
  top: 100%;
}

header .nav_toggle.active {
  position: fixed;
  z-index: 3;
}

header .nav_toggle.active span {
  background: #333333;
}

header .nav_toggle.active span:first-child {
  transform: translateY(13rem) rotate(-45deg);
}

header .nav_toggle.active span:nth-child(2) {
  opacity: 0;
}

header .nav_toggle.active span:nth-child(3) {
  transform: translateY(-10rem) rotate(45deg);
}

header nav {
  width: 100%;
  display: none;
  position: relative;
  right: -600rem;
  transition: all 0.4s;
}

header nav.active {
  transition: all 0.4s;
  position: fixed;
  z-index: 2;
  display: block;
  width: 40%;
  height: 100vh;
  background: #fff;
  right: 0;
  top: 0;
  padding-top: 120rem;
}

header nav.active li.gnav_item {
  margin-bottom: 30rem;
  color: #000;
  text-align: center;
}

header nav.active li.gnav_item a {
  display: block;
}

header nav ul.gnavlist {
  width: 100%;
}

header nav ul.gnavlist li.gnav_item {
  text-align: center;
}

header nav ul.gnavlist li.gnav_item a {
  display: block;
}

div.main {
  background: url(../img/header/header.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 620rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.main div.main_ttl_item {
  color: #ffffff;
}

div.main div.main_ttl_item div.h1 {
  font-size: 120rem;
}

div.main div.main_ttl_item span {
  display: block;
  font-size: 16rem;
  text-align: center;
}

section.concept {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #fff 70%,
    #ededed 70%,
    #ededed 100%
  );
}

section.concept div.inner img {
  width: 100%;
}

section.work {
  padding-bottom: 120rem;
}

section.work div.inner div.work_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.work div.inner div.work_items div.work_item {
  position: relative;
  width: 420rem;
}

section.work div.inner div.work_items div.work_item img {
  width: 100%;
}

section.work div.inner div.work_items div.work_item h3 {
  padding: 20rem 0 10rem 0;
}

section.work div.inner div.work_items div.work_item:nth-child(2) {
  top: 100rem;
}

section.work div.inner div.work_items div.work_item:nth-child(3) {
  top: -60rem;
}

section.work div.inner div.work_items div.work_item:nth-child(4) {
  top: 250rem;
}

section.florist {
  background: linear-gradient(
    180deg,
    #ededed 0%,
    #ededed 55%,
    #fff 55%,
    #fff 100%
  );
}

section.florist div.inner div.florist_items {
  display: flex;
  justify-content: space-between;
}

section.florist div.inner div.florist_items div.florist_item {
  width: 300rem;
}

section.florist div.inner div.florist_items div.florist_item img {
  width: 100%;
}

section.florist div.inner div.florist_items div.florist_item h3 {
  margin: 15rem 0;
}

section.shop_info {
  padding-bottom: 120rem;
}

section.shop_info div.inner div.shop_info_items {
  display: flex;
  justify-content: space-between;
}

section.shop_info div.inner div.shop_info_items img {
  width: 480rem;
}

section.shop_info div.inner div.shop_info_items dl.shop_about {
  width: 432rem;
  overflow: hidden;
  line-height: 1.8;
  font-size: 16rem;
}

section.shop_info div.inner div.shop_info_items dl.shop_about dt {
  float: left;
  clear: left;
  width: 65rem;
}

section.shop_info div.inner div.shop_info_items dl.shop_about dd {
  margin-left: 20rem;
  float: left;
  width: 220rem;
  border-left: 1px solid #2b2b2b;
  padding-left: 15rem;
  margin-bottom: 10rem;
}

section.contact {
  background: url(../img/contact_us.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 450rem;
}

section.contact div.inner .contact_btn {
  width: 360rem;
  height: 80rem;
  background: #fff;
  text-align: center;
  line-height: 80rem;
  margin: 0 auto;
}

section.contact div.inner a {
  font-size: 20rem;
  display: block;
  background: url(../img/icon_email.png) no-repeat;
  background-position: 20% 50%;
}

footer {
  height: 40rem;
  line-height: 40rem;
  text-align: center;
}

footer p.copyright {
  height: 40rem;
  line-height: 40rem;
  display: inline-block;
}
footer span {
  display: inline-block;
}

@media screen and (max-width: 785px) {
  html {
    font-size: 0.7px;
  }
  body {
    width: 100%;
  }
  section {
    width: 100%;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #eee !important;
    padding: 0 15rem;
    z-index: 4;
  }
  header .header_content .nav_toggle.active {
    position: relative;
  }
  header .header_content nav {
    width: 90%;
    transition: all 0.4s;
  }
  header .header_content nav.active {
    transition: all 0.4s;
    width: 100%;
    background: #fff;
  }
  header .header_content nav ul.gnavlist {
    width: 90%;
    background: #fff;
    left: 10rem;
    margin: 0 auto;
  }
  .inner {
    width: 90%;
  }
  section.work {
    padding-bottom: 30rem;
  }
  section.work div.work_items {
    flex-flow: column;
  }
  section.work div.work_item {
    position: inherit !important;
    width: 100% !important;
    margin-bottom: 50rem;
  }
  section.florist {
    padding-bottom: 0;
  }
  section.florist div.florist_items {
    flex-flow: column;
  }
  section.florist div.florist_item {
    width: 100% !important;
    margin-bottom: 50rem;
  }
  section.shop_info {
    padding-bottom: 30rem;
  }
  section.shop_info div.inner div.shop_info_items {
    flex-flow: column;
  }
  section.shop_info div.inner div.shop_info_items img {
    width: 100% !important;
  }
  section.shop_info div.inner div.shop_info_items dl.shop_about {
    width: 100% !important;
    margin-top: 30rem;
  }
  section.shop_info div.inner div.shop_info_items dl.shop_about dt {
    float: none;
  }
  section.shop_info div.inner div.shop_info_items dl.shop_about dd {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    margin-bottom: 30rem;
    padding-bottom: 10rem;
    border-bottom: 1px dotted #2b2b2b;
  }
}
